body,
html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
}

.card{
    height: 30vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(239, 146, 146, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.card-image:hover{
transform:scale(1.1);
}
.card-title:hover{
    transform: rotate(2turn);
    background-image: linear-gradient(120deg,transparent,transparent 50%,#fafafa);
    transition: all .4s;
}
.card-description:hover{
align-items: baseline;
color: #f92;
}

.card-title{
    font-size: 2.2rem;
    margin: 0.5rem ;
    text-transform: uppercase;
    font-family: 'Fuggles', cursive;
}
.card-image{
width: 90%;
height: 40%;
object-fit: cover;
object-position: 55% 55%;
}
@media screen and (max-width:1000px) {
    .card{
        width:40%;
    }
 }
 
 @media screen and (max-width:812px) {
    .card{
        width:100%;
    }
 }
 @media screen and (max-width:768px) {
    .card{
    width: 40%;
    }
 }

.card-description{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    width: 73vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    padding: 20px;
}
.header{
    text-align: center;
    font-size: 100px;
    font-family: 'Fuggles', cursive;
    animation: animation 4s;
}
.header:hover{
    transform: skew(30deg, 20deg);
}

@keyframes animation {
    0%{
transform: scale(3);
    }
    25%{
transform: scale(4);
    }
    50%{
transform: scale(6);
    }
    75%{
transform: scale(4);
    }
    100%{
transform: scale(1);
    }
} 