body,
html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    height: 50vh;
    width: 30%;
    background-color: rgba(249, 252, 103, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
}
.card-title{
    font-size: 2.2rem;
    margin: 0.5rem ;
    text-transform: uppercase;
}
.card-image{
object-fit: cover;

}
.card-price{
    font-size: 1.2rem;
}
.container{
    display: flex;
    width: 73vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    padding: 20px;
}
.header{
    text-align: center;
    font-size: 100px;
}