body,
html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    font-family: 'Fuggles', cursive;
font-family: 'Montserrat', sans-serif;
}

.card{
    height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(239, 146, 146, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.card-title{
    font-size: 2.2rem;
    margin: 0.5rem ;
    text-transform: uppercase;
}
.card-image{
width: 350px;
height: 300px;
}
.card-price{
    font-size: 1.2rem;
}
.container{
    display: flex;
    width: 73vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    padding: 20px;
}
.header{
    text-align: center;
    font-size: 100px;
}